*{
	margin: 0px;
	padding: 0px;
}
html{
	height: 100%;
}
body{
	background: #E6E6EF;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.blogs-wrap{
	border-radius: 15px;
	border: solid 1px gray;
}
.blogs-wrap ul li{
	list-style-type: none;
	padding: 5px;
}
.blogs-wrap ul li a{
	font-size: 20px;
	padding: 5px;
}