.WCRed{color:#ff0000;}
.WCOrange{color:#ff7a00;}
.WCYellow{color:#fff400;}
.WCGreen{color:#33ff00;}
.WCCyan{color:#00ffb2;}
.WCBlue{color:#00b2ff;}
.WCPurple{color:#ad00ff;}
.WCWhite{color:#ffffff;}
.WCLightGray{color:#676767;}
.WCGray{color:#464646;}
.WCDarkGray{color:#222222;}
.WCBlack{color:#000000;}
.WBCRed{background-color:#ff0000;}
.WBCOrange{background-color:#ff7a00;}
.WBCYellow{background-color:#fff400;}
.WBCGreen{background-color:#33ff00;}
.WBCCyan{background-color:#00ffb2;}
.WBCBlue{background-color:#00b2ff;}
.WBCPurple{background-color:#ad00ff;}
.WBCWhite{background-color:#ffffff;}
.WBCLightGray{background-color:#676767;}
.WBCGray{background-color:#464646;}
.WBCDarkGray{background-color:#222222;}
.WBCBlack{background-color:#000000;}
.WCRedHover:hover{color:#ff0000;}
.WCOrangeHover:hover{color:#ff7a00;}
.WCYellowHover:hover{color:#fff400;}
.WCGreenHover:hover{color:#33ff00;}
.WCCyanHover:hover{color:#00ffb2;}
.WCBlueHover:hover{color:#00b2ff;}
.WCPurpleHover:hover{color:#ad00ff;}
.WCWhiteHover:hover{color:#ffffff;}
.WCLightGrayHover:hover{color:#676767;}
.WCGrayHover:hover{color:#464646;}
.WCDarkGrayHover:hover{color:#222222;}
.WCBlackHover:hover{color:#000000;}
.WBCRedHover:hover{background-color:#ff0000;}
.WBCOrangeHover:hover{background-color:#ff7a00;}
.WBCYellowHover:hover{background-color:#fff400;}
.WBCGreenHover:hover{background-color:#33ff00;}
.WBCCyanHover:hover{background-color:#00ffb2;}
.WBCBlueHover:hover{background-color:#00b2ff;}
.WBCPurpleHover:hover{background-color:#ad00ff;}
.WBCWhiteHover:hover{background-color:#ffffff;}
.WBCLightGrayHover:hover{background-color:#676767;}
.WBCGrayHover:hover{background-color:#464646;}
.WBCDarkGrayHover:hover{background-color:#222222;}
.WBCBlackHover:hover{background-color:#000000;}
.WTFArial{font-family: Arial;}
.WTFCalibri{font-family: Calibri;}
.WTFCambria{font-family: Cambria;}