.WNavList{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	overflow: hidden;
}
.WNavItem{
	padding: 10px;
	text-align: center;
}
.WNavLink{
	display: block;
	text-decoration: none;
	transition-duration: 0.4s;
	border-radius: 10px;
}
.WNavHorizontalLeft{
	float: left;
}
.WNavHorizontalRight{
	float: right;
}
.WNavHorizontalHintContent{
	display: none;
	writing-mode: horizontal-tb;
	transition-duration: 0.4s;
}
.WNavHorizontalHint:hover .WNavHorizontalHintContent{
	display: block;
}

.WParagraph{
	padding: 10px;
}
.WParagraphTitle{
	
}